$cardHeight: 100px
$cardWidth: 100px
$cardIndet: 15px
$cardQnt: 18
$cardsInRow: 7

.neuro
  background-color: #fafafa
  display: flex
  flex-direction: column
  height: 100%
  margin-left: auto
  margin-right: auto
  padding-top: 10px
  padding-bottom: 10px
  max-width: 800px
  user-select: none

  &__row
    display: flex
    justify-content: center
    margin-bottom: 10px
    padding-left: 6px
    padding-right: 6px

    &:last-child
      margin-bottom: 0

  &__row-cell
    display: flex
    margin-left: 3px
    margin-right: 3px
    width: calc(25% - 6px)

    & > .card
      cursor: pointer
      width: 100%

    &--double
      width: calc(50% - 6px)

  &__timer
    font-size: 14px
    margin-bottom: 5px
    margin-top: 0
    text-align: center

  &__turn
    font-size: 14px
    margin: 0
    margin-top: 0
    text-align: center

.turn-info
  justify-content: center
  flex-direction: column

.field-block
  flex-grow: 1
  position: relative
  padding-left: 70px
  padding-right: 70px

  .field
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    width: calc(100% - 140px)

.field
  background-color: #fff
  outline: 1px solid #1e1e1e
  display: flex
  flex-wrap: wrap
  height: 100%
  width: 100%

  &--action
    position: relative

  &.action-first-column
    .field__cell
      &:nth-child(3n+1)
        background-color: #000

  &.action-second-column
    .field__cell
      &:nth-child(3n+2)
        background-color: #000

  &.action-third-column
    .field__cell
      &:nth-child(3n+3)
        background-color: #000

  &.action-first-row
    .field__cell
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        background-color: #000

  &.action-second-row
    .field__cell
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6)
        background-color: #000

  &.action-third-row
    .field__cell
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9)
        background-color: #000

  &__cell
    border-bottom: 1px solid #1e1e1e
    border-right: 1px solid #1e1e1e
    cursor: pointer
    height: calc(100% / 3)
    position: relative
    width: calc(100% / 3)

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9)
      border-right: none

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3)
      border-bottom: none

    &.is-active,
    &.is-active:hover
      &::after
        background-color: #ccc
        border-radius: 50%
        content: ''
        height: 30px
        left: 50%
        opacity: 1
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        width: 30px

.cards-small,
.cards
  display: none

.card
  background-color: #ccc
  border-radius: 6px
  box-shadow: 0 0 0 1px #1e1e1e

  &--deck
    .card__image
      background: none
      box-shadow: none

  &__title
    color: #1e1e1e
    font-size: 8px
    margin: 0
    padding-top: 5px
    text-shadow: 0 0 1px #fff
    text-align: center

  &__description
    color: #1e1e1e
    display: none
    font-size: 9px
    line-height: 1.4
    margin-top: 0
    margin-bottom: 0
    padding-left: 15px
    padding-right: 15px
    text-align: center

  &__image-outer
    padding: 5px

  &__image
    background-color: #eaeaea
    box-shadow: 0 0 0 1px #1e1e1e
    border-radius: 6px
    padding: 5px

    svg
      width: 100%

.cards-slider
  min-height: 82%
  scroll-snap-type: x mandatory
  overflow-x: auto
  width: 100%

  &__slide
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    padding-top: 5px
    padding-bottom: 5px
    scroll-snap-align: start
    width: 100%

  .card
    cursor: default
    display: flex
    flex-direction: column
    min-height: 364px
    margin-left: auto
    margin-right: auto
    margin-bottom: 15px
    width: 240px

    &__title
      font-size: 18px
      padding-top: 20px
      padding-bottom: 15px

    &__description
      align-items: center
      display: flex
      flex-direction: column
      justify-content: center
      flex-grow: 1

    &__image-outer
      padding: 15px

.end-turn
  align-items: center
  justify-content: center

.button
  align-items: center
  background-color: #f0f0f0
  border-radius: 6px
  border: none
  cursor: pointer
  display: flex
  font-size: 16px
  justify-content: center
  height: 50px
  text-align: center

  &--accept,
  &--cancel
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 50px

  &--accept
    left: 10px

  &--cancel
    left: auto
    right: 10px

  &--action
    height: 40px
    position: absolute
    width: 40px

    @media(min-width: 375px)
      height: 50px
      width: 50px

  &--type_1,
  &--type_2,
  &--type_3
    top: -50px
    transform: translateX(-50%)

    @media(min-width: 375px)
      top: -60px

  &--type_1,
  &--type_9
    left: calc((100% / 3 * 1) / 2)

  &--type_2,
  &--type_8
    left: calc((100% / 3 * 3) / 2)

  &--type_3,
  &--type_7
    left: calc((100% / 3 * 5) / 2)

  &--type_4,
  &--type_5,
  &--type_6
    left: auto
    right: -50px
    transform: translateY(-50%)

    @media(min-width: 375px)
      right: -60px

  &--type_4,
  &--type_12
    top: calc((100% / 3 * 1) / 2)

  &--type_5,
  &--type_11
    top: calc((100% / 3 * 3) / 2)

  &--type_6,
  &--type_10
    top: calc((100% / 3 * 5) / 2)

  &--type_7,
  &--type_8,
  &--type_9
    bottom: -50px
    transform: translateX(-50%)
    top: auto

    @media(min-width: 375px)
      bottom: -60px

  &--type_10,
  &--type_11,
  &--type_12
    left: -50px
    transform: translateY(-50%)

    @media(min-width: 375px)
      left: -60px

  &__icon
    fill: #1e1e1e
    height: 30px
    width: 30px

.action
  display: none

  &.is-open
    align-items: center
    background-color: rgba(0,0,0,0.5)
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    left: 0
    height: 100%
    min-height: 60%
    position: fixed
    right: 0
    top: 0
    width: 100%
    z-index: 2

  &__close
    align-items: center
    background: none
    border: none
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    left: auto
    padding: 0
    position: fixed
    right: 0
    top: 0
    width: 40px
    z-index: 3

  &__close-icon
    fill: #fafafa
    height: 30px
    width: 30px

.action-block
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  width: 100%

  &__inner
    align-items: center
    display: flex
    justify-content: center
    margin: auto
    padding: 70px
    position: relative

  &__text,
  &__description
    color: #fff
    padding-left: 30px
    padding-right: 30px

  &__description
    font-size: 14px
    padding-bottom: 30px
    text-align: center

  &__buttons
    display: flex
    justify-content: center
    width: 100%

  &__button
    background-color: #ccc
    border: none
    border-radius: 6px
    cursor: pointer
    font-size: 14px
    min-height: 40px
    margin-left: 3px
    margin-right: 3px
    max-width: 140px
    width: 40%

.popup
  display: none

  &.is-open
    align-items: center
    background-color: rgba(0,0,0,0.5)
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center
    left: 0
    height: 100%
    min-height: 60%
    position: fixed
    right: 0
    top: 0
    width: 100%
    z-index: 2

  &.viewing
    .popup__buttons
      display: none

  &__close
    align-items: center
    background: none
    border: none
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    left: auto
    padding: 0
    position: fixed
    right: 0
    top: 0
    width: 40px
    z-index: 3

  &__close-icon
    fill: #fafafa
    height: 30px
    width: 30px

  &__buttons
    display: flex
    justify-content: center
    width: 100%

  &__button
    background-color: #ccc
    border: none
    border-radius: 6px
    cursor: pointer
    font-size: 14px
    min-height: 40px
    margin-left: 3px
    margin-right: 3px
    max-width: 140px
    width: 40%
